.guest-header {
  width: 1366px;
  padding: 40px 80px;
  margin: 0 auto;
  @include desktopHd() {
    width: 100%;
  }
  @include tablets() {
    padding: 20px;
  }

  &__container {
    display: flex;
    align-items: center;
    @include desktopHd() {
      flex-direction: column;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    @include phones() {
      flex-direction: column;
    }
  }

  &__heading {
    padding: 0;
    margin: 0 15px 0 0;
    box-sizing: border-box;
    color: #1C2674;
    font-size: 56px;
    font-style: normal;
    font-weight: bold;
    line-height: 70px;
    @include phones() {
      font-size: 7vw;
      line-height: 30px;
    }
  }

  &__bage {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    margin-top: 8px;
    box-sizing: border-box;
    background-color: #e20e00;
  }

  &__live-icon {
    width: 6px;
    height: 6px;
    background-color: #fff;
    border-radius: 50%;
  }

  &__live {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 0 0 3px;
    color: #FFFFFF;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    line-height: 12px;
  }
}
